<section>
  <h3>The "Click to Load" example</h3>
  <table role="grid">
    <thead>
    <tr>
      <th>Id</th>
      <th>First name</th>
      <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    <MovieCharactersRows/>
    </tbody>
  </table>
</section>